# Server Configuration
HOST=localhost
PORT=8000
ALLOW_CORS_URL=http://localhost:3000
NODE_ENV='development' #development | production
PLATFORM_DOMAIN=zonastart.local
APP_SUBDOMAIN=app

#Jwt Securtiy
JWT_SECRET=bc63d848ca6e651b3b848bd96ef1ad1eb9b31afc9cad67ed5953efd023d02ffe
JWT_EXPIRY=2h
JWT_REFRESH_SECRET=bc63d848ca6e651b3b848bd96ef1ad1eb9b31afc9cad67ed5953efd023d02ffe
JWT_REFRESH_EXPIRY=30d
bcryptSaltRounds=10
RUN_SEED=false

#Database Configuration
DATABASE_URL="postgresql://postgres:local**@localhost:5432/caja_ahorro" #url conexion a base de datos 

#Mail Configuration
MAIL_HOST=gmail
MAIL_USERNAME=
MAIL_PASSWORD=

#Cloudflare R2 Storage
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_URL=
